.typing-text {  
    position: relative;  
    display: inline-block;  
  }  
  
  .cursor {  
    display: inline-block;  
    margin-left: 3px;  
    width: 10px;  
    height: 30px;  
    background-color: #000;  
    animation: blink 0.7s infinite;  
  }  
  
  .cursor.deleting {  
    background-color: red; /* Warna berbeda saat menghapus */  
  }  
  
  @keyframes blink {  
    0%, 100% {  
      opacity: 1;  
    }  
    50% {  
      opacity: 0;  
    }  
  }